/* header,nav,nav>a,aside,article,footer{float: left; border: green thin solid;box-sizing: border-box;}
header{width: 100%;height: 100px;}
nav{width: 100%;height: 20px;}
nav>a{width: 16.666667%; height: inherit;text-decoration: none;text-align: center;}
.body{width: 100%; float: left;}
.body aside{width: 15%;min-height: 300px;}
.body article{width: 70%;min-height: 300px;}
footer{width: 100%; height: 100px;} */
/* .product{width: 45,5%; float: left; border: green thin solid;}
.product .img img{width: 100%;} */ 

/*======================================================*/
/* .parent {
   width: 42px; 
   height: 42px;
}


.parent img {
   height: 100%;
   width: 100%;
} */
/*==================================================*/
/* .pagination {
   display: inline-block;
 }
 
 .pagination a {
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
 }
 .highlight{
   color: white;
   font-weight: bold;
 } */