@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
h5{
    color: #8000ff;
    font-weight: 400;
    padding: 10px 0;
    padding-left: 10px;
    margin-right: 10px;
    pointer-events: none;
}
ul li{
    list-style: none;
}
button{
    border-radius: 50px;
    width: 100px;
}
a{
    text-align: center;
    color: black;
}
ul li{
    color: #011a41;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    width: 40px;

}
